.top {
    background: none;
}

.portfolio_portfolio_top {
    display: block;
}

.portfolio_block_wrp {
    display: flex;
    align-items: center;
}

.portfolio_portfolio_photo_wrp {
    margin-bottom: 50px;
}

.portfolio_portfolio_txt {
    max-width: 500px;
    margin-left: 50px;
    
}

@media (max-width: 1100px) {
    .portfolio_block_wrp {
        align-items: flex-start;
    }

    .portfolio_portfolio_txt {
        max-width: 300px;
    }
}

@media (max-width: 970px) {
    .portfolio_block_wrp {
        display: block;
    }

    .portfolio_portfolio_txt {
        max-width: 100%;
    }
}